* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
h1,
h2,
navbar__brand-mobile {
  font-family: "Hanken Grotesk", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar {
  display: none;
}
