@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/arial-2');
@import url("base.css");
@import url("layout.css");
@import url("components/navbar.css");
@import url("components/hero.css");
@import url("components/dropdown.css");
@import url("components/responsive.css");
@import url("components/featured.css");