/* ===== NAVBAR BASE ===== */

.navbar {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.4s ease;
  background: white;
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0px 40px;
}

/* LEFT */

.currency {
  position: relative;
}

.currency__btn {
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.currency__dropdown {
  position: absolute;
  top: 100%;
  display: none;
  min-width: 70px;
  background: white;

  list-style: none;
  margin: 0;
  padding: 8px 4px;

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
}

.currency__option {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px 2px;

  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  transition: all 0.2s ease;
}

.currency.is-open .currency__dropdown {
  display: block;
}

.currency.is-open .currency__btn {
  opacity: 0.5;
}

/* CENTER */

.navbar__menu {
  display: flex;
  gap: 40px;
}

.has-dropdown {
  position: relative;
}

.editorial-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: black;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  padding: 20px;
}

.has-dropdown:hover .editorial-dropdown {
  opacity: 1;
  visibility: visible;
}

/* RIGHT */

.navbar__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ===== STICKY STATE ===== */

.navbar--sticky {
  position: fixed;
  background: white;
}

/* ===== SHRINK STATE ===== */

.navbar--shrink {
  padding: 10px 0;
}
