@media (max-width: 991px) {
  .navbar__inner {
    padding: 0 16px;
  }

  .navbar__center {
    position: static;
  }

  .currency__btn,
  .navbar__right a {
    font-size: 13px;
  }
  .navbar__right {
    gap: 10px;
  }
  .cart-btn img {
    width: 18px;
    height: 18px;
  }

  .hamburger {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }

  .hamburger .line {
    display: block;
    width: 24px;
    height: 1px;
    background-color: #000;
    transition: transform 0.3s ease;
    transform-origin: center;
  }

  .hamburger.is-active .line:nth-child(1) {
    transform: translateY(3.5px) rotate(45deg);
  }
  .hamburger.is-active .line:nth-child(2) {
    transform: translateY(-3.5px) rotate(-45deg);
  }

  .navbar__menu-wrapper {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    height: calc(100vh - 45px);
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    z-index: 1000;
  }

  .navbar__menu-wrapper.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  .navbar__link {
    font-size: 13px;
  }

  .mobile-arrow {
    display: inline-block;
    margin-left: 4px;
  }

  .desktop-only {
    display: none !important;
  }
  .mobile-only-item {
    display: block;
  }
  .editorial-bg {
    display: none !important;
  }

  .editorial-panel {
    position: static !important;
    transform: none !important;
    width: 100% !important;
    height: auto !important;

    display: none;
    opacity: 1 !important;
    visibility: visible !important;

    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .editorial-panel ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 18px;
  }
  .editorial-panel li {
    margin: 0;
  }

  .editorial-panel a {
    color: #000 !important;
    font-size: 13px;
    letter-spacing: normal;
  }

  .editorial-wrapper.is-expanded .editorial-panel {
    display: block;
  }

  .editorial-wrapper.is-expanded > #editorialToggle {
    font-weight: 700;
    font-size: 24px;
  }

  .navbar__brand-mobile {
    display: block;
    /* font-family: "Inter", sans-serif; */
    font-weight: 900;
    font-size: 16vw;
    line-height: 0.8;
    text-align: center;
    color: #000;
    letter-spacing: -2px;
    margin-bottom: 4vw;
    white-space: nowrap;
  }
}
